[tasks.install]
description = "Install the CLI"
run = "cargo install --path {{config_root}}"

[tasks.render]
description = "Render the resume"
run = "cargo run --quiet -- render --clean"
dir = "{{cwd}}"

[tasks.update-schema]
description = "Update the resume and config JSON schemas based on their current definitions"
run = [
  "cargo run --quiet -- schema resume > {{config_root}}/schemas/resume.schema.json",
  "cargo run --quiet -- schema config > {{config_root}}/schemas/config.schema.json"
]
